.reviews {
  padding: 26px 0 72px;
  background-color: #F8F8F8;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__video-list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__video-item {
    flex-direction: column;
    background-color: #fff;

    &:nth-child(1) {
      margin-bottom: 29px;
    }

    &:nth-child(2) {
      margin-bottom: 29px;
    }
  }

  &__video-review {
    width: 586px;
    height: 298px;
  }

  &__video-desc {
    padding: 14px 24px 13px;
  }

  &__video-name {
    display: flex;
  }

  &__video-type {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6CAC3D;
    margin-right: 8px;
  }

  &__video-appartment {
    font-size: 14px;
    line-height: 16px;
    padding-top: 6px;
  }

  &__video-adress {
    font-size: 14px;
    position: relative;
    padding-left: 21px;

    &::before {
      content: "";
      background-image: url("./../../images/reviews/mapPin.png");
      background-size: cover;
      width: 17px;
      height: 17px;
      left: -3px;
      position: absolute;
    }
  }
}